<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mapper.MessageMapper">
    <select id="getUserInfo" parameterType="Long" resultType="com.project.domain.User">
        select user_id,
               user_name,
               user_avatar
        from user
        where user_id = #{id}
    </select>
</mapper>
